<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="icon" type="image" href="../static/assets/logo.png">
</head>
<body>
   <nav class="navbar">
      <div class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div>
        <img class="logo" src="../static/assets/logo.png" alt="logo">
      </div>
      <ul class="nav-links">
        <li><a href="../templates/index.html">Início</a></li>
        <li><a href="../templates/albuns.html">Álbuns</a></li>
      </ul>
    </nav>


    <img class="fundo_hist" src="../static/assets/fundo_hist.svg" alt="logo">

    <h3 class="title_hist">HISTÓRICO</h3>

    <div id="historyPanel">
      <ul id="historyList"></ul>
    </div>

      <button id="clearHistory">Limpar Histórico</button>


<script>
        const toggle = document.querySelector(".menu-toggle");
        const navLinks = document.querySelector(".nav-links");

        toggle.addEventListener("click", () => {
            toggle.classList.toggle("active");
            navLinks.classList.toggle("active");
        });

        const historyListEl = document.getElementById("historyList");
        const clearBtn = document.getElementById("clearHistory");

        function renderizarHistorico() {
          let history = JSON.parse(localStorage.getItem("history")) || [];
          historyListEl.innerHTML = "";

          if (history.length === 0) {
            historyListEl.innerHTML = "<li>Nenhuma música tocada ainda.</li>";
            return;
          }

          history.slice().reverse().forEach(musica => {
            const li = document.createElement("li");
            li.textContent = `💿 ${musica.title} — ${musica.artist}`;
            historyListEl.appendChild(li);
          });
        }

        clearBtn.addEventListener("click", () => {
          localStorage.removeItem("history");
          renderizarHistorico();
        });

  
        renderizarHistorico();

        
      </script>

</body>
</html>